# Ignorar archivos de registro y configuración local
assets/logs/instalacion_log.txt
assets/logs/error_log.txt
assets/config/yt_config.ini
LazyDLP-installer.bat
LazyDLP-terminal.bat
Gen_exe.bat
LazyDLP.vbs